
<% unless @logs.empty? %>
  <div class="pagination" style="margin-top:-10px">
    <%= paginate @logs %> 
  </div>
<% end %>

<table class="table table-striped"">
  <tr>
    <th>date</th>
    <th>user</th>
    <th>message</th>
  </tr>
  <% @logs.each do |log| %>
    <tr>
      <td><span class="text-info"><%= log.date.strftime("%Y/%m/%d %H:%M:%S") %></span></td>
      <td><span class="text-success"><%= log.username %></span></td>
      <td><span class=""><%= log.message %></span></td>
    </tr>
  <% end %>
</table>

